<%= include('includes/top.tmpl') %>

    <div class="main future_of_news">
    	<a href="#top" target="_parent">
	        <img src="<%= pathStatic %>/<%= vocab_dir %>/img/1024/future_of_news.jpg" />

	        <div class="the_future_of_news-core_container">
	            <div class="the_future_of_news-core_content">
	                <h2>Future of News</h2>
	                <div class="the_future_of_news-button">Enter</div>
	            </div>
	        </div>
	    </a>
    </div>

<%= include('includes/bottom.tmpl') %>