.the_future_of_news-core_container {
  position: relative;
}

.the_future_of_news-core_content {
  position: absolute;
  bottom: 2em;
  width: 100%;
}

.the_future_of_news-core_content h2 {
  font-size: 5em;
  width: 100%;
  text-shadow: 3px 3px #333;
  color: #FFF;
  text-align: center;
}

.the_future_of_news-button {
  font-size: 2.5em;
  background: #CD0000;
  border: none;
  color: #FFF;
  text-decoration: none;
  width: 5em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0.3em 0;
}

.the_future_of_news-button:hover {
  background:#810000;
}

@media (max-width: 850px) {
  .the_future_of_news-core_content h2 {
    font-size: 3em;
  }
  .the_future_of_news-button {
    font-size: 2em;
  }
}

@media (max-width: 650px) {
  .the_future_of_news-core_content h2 {
    font-size: 2.5em;
  }
  .the_future_of_news-button {
    font-size: 2em;
  }
}

@media (max-width: 450px) {
  .the_future_of_news-core_content h2 {
    font-size: 2em;
  }
  .the_future_of_news-button {
    font-size: 1.5em;
  }
}